main { margin: 16px; }
table { margin: 16px 0; font-size: 14px; }
td, th { border: 1px solid silver; padding: 5px; white-space: nowrap; }
td {
  text-align: right;
  &:nth-child(1) { text-align: left; }
  &:has(input) { border: none; }
  & input { margin-right: 30px; }
}
details {
  margin: 16px 0;
  & td:nth-child(2) { text-align: center; }
  & li { margin-top : 8px; }
}

